body {
  padding-top: 50vh;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility !important;
  background-color: #000;
  color: #fff;

}
#access, #code {
  font-size: 2.5em;
  letter-spacing: 0.0625em;
}
#code {
  background-color: red;
  padding: 0.125em;
  padding-bottom: 0;
}
#title {
  border-bottom: 0.0625em solid #fff;
  padding-bottom: 0.5em;
}
#school {
  display: inline-block;
  padding-top: 0.5em;
  margin-left: 1.875em;
  font-size: 1.1250em;
  letter-spacing: 2.5em;
  text-decoration-color: #fff;
}
#initialTag, #endingTag {
  font-size: 2.5em;
  color: #ff0000;
}
#initialTag {
  padding-right: 0.125em;
}
#endingTag {
  padding-left: 0.125em;
}
